# Auto detect text files and perform LF normalization
* text=auto
.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Sediment_Sampling.mp4 filter=lfs diff=lfs merge=lfs -text
